@charset "gb2312";
/* css document */
html {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
body {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px;
}
div {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
span {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
object {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
iframe {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
h1 {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
h2 {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
h3 {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
h4 {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
h5 {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
h6 {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
p {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
blockquote {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
pre {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
a {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
abbr {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
address {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
cite {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
code {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
del {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
dfn {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
em {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
img {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
ins {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
kbd {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
q {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
samp {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
small {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
strong {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
sub {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
sup {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
var {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
b {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
i {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
dl {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
dt {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
dd {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
ol {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
ul {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
li {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
fieldset {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
form {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
label {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
legend {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
table {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
caption {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
tbody {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
tfoot {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
thead {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
tr {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
th {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
td {
    border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; font-size: 100%; vertical-align: baseline; border-top: 0px; border-right: 0px; padding-top: 0px
}
button {
    font-size: 100%
}
input {
    font-size: 100%
}
select {
    font-size: 100%
}
textarea {
    font-size: 100%
}
table {
    border-spacing: 0; border-collapse: collapse
}

article,aside,dialog,footer,header,section,footer,nav,figure,menu{
    display:block;
}

a {
    text-decoration:none;
}

a:hovers {
    text-decoration:none;
}

body {
    font-family:arial;
    margin-top:0px;
    margin-bottom:0px;
    font-size:12px;
}

div{

}

ul,li{
    margin:0;
    padding:0;
    list-style-type:none;
    text-indent:0;
}



/*具体样式*/
html{
    background:#ffffff url('../../../imgs/app/find/baby_header1.jpg') no-repeat center top;
    /*background-color:#d2e6f3;*/
}
.lueryi {
    background: url('../../../imgs/app/find/baby_footer1.jpg') repeat-x center bottom;
}
.box{ width:100%; background: url('../../../imgs/app/find/baby_footer1.jpg') no-repeat center bottom;
}

.page-space{
    width:970px;
    height:10px;
    clear:both;
    margin:0 auto;
    font-size:1px;
    line-height:1px;
}

.nav-top{
    width:100%;
    height:39px;
    background:url('../../../imgs/app/find/baby_nav_top.jpg') repeat-x;
    margin:0 auto;
}

.nav-top_bar{
    width:970px;
    height:39px;
    margin:0 auto;
    color:#333;
    font-size:13px;
    line-height:20px;
}

.nav-top_bar1{
    width:940px;
    margin:0 auto;
}

.nav-top_bar2{
    width:940px;
    margin:0 auto;
}

.nav-top_bar3{
    width:300px;
    float:right;
}

.nav-top_bar span{
    color:#d8ccd8;
    padding-top:8px;
    padding-left:4px;
    padding-right:4px;
    float:right;
}

.nav-top_bar a{
    color:#333;
    font-size:12px;
    line-height:18px;
}

.nav-top_bar a:hover{
    color:#333;
    font-size:12px;
    line-height:18px;
    text-decoration: underline;
}

.at{
    color:#333;
    font-size:12px;
    line-height:20px;
}

.at a{
    color:#333;
    font-size:12px;
    line-height:26px;
}

.at a:hover{
    color:#333;
    font-size:12px;
    line-height:26px;
    text-decoration: underline;
}

.header{
    width:970px;
    height:160px;
    margin:0 auto;
    font-size:1px;
    line-height:1px;
}

.header_logo{
    width:280px;
    height:100px;
    padding:15px 0 0 0px;
    font-size:1px;
    line-height:1px;
}

.nav-main{
    width:970px;
    z-index:100;
    height:85px;
    margin:0 auto;
    font-size:12px;
    background:url('../../../imgs/app/find/baby_nav_main.jpg') no-repeat;
}

.cotbl_bot .cotbl_bot_l img{width:84px; height:62px; padding:4px; background:url('../../../imgs/app/find/bj11.jpg') no-repeat 0 0;
}
.lab_bottom_l img{width:84px; height:62px; padding:4px; background:url('../../../imgs/app/find/bj11.jpg') no-repeat 0 0;
}

.nav-main_channel{
    width:950px;
    height:43px;
    margin-top:0px;
    margin-left:10px;
    float:left;
    display:inline;
    position:relative;
    z-index:1;
    clear:both;
}

#nav-main {
    width:950px;
    height:40px;
    font-family:"微软雅黑";
    font-size:16px;
    line-height:46px;
    text-decoration:none;
    list-style:none;
    font-style: normal;
}
#nav-main a         {width:130px;font-weight:900; color:#fff;               text-decoration:none;display: block;text-align:center;}
#nav-main a:link    {width:130px;font-weight:900; color:#fff;               text-decoration:none;}
#nav-main a:visited {width:130px;font-weight:900; color:#fff;               text-decoration:none;}
#nav-main a:hover   {width:130px;font-weight:900; color:#56a605;_color:#fff;text-decoration:none;}

#nav-main li {
    width: 135px;
    margin:0 auto;
    background: none;
    float: left;
}
#nav-main li:hover {
    width: 135px;
    background:url('../../../imgs/app/find/baby_nav_main_channel.png') no-repeat center top;
    _background:url(../../../imgs/app/find/baby_nav_main_channel.gif) no-repeat center top;
    float: left;
}
#nav-main li:hover a{color:#5daa0e;}
#nav-main li a:hover{ color:#5daa0e; _background:url(../../../imgs/app/find/baby_nav_main_channel.gif) no-repeat center top;}

#nav-main li ul {
    width: 121px;
    line-height: 31px;
    list-style-type: none;
    text-align:left;
    left: -999em;
    margin-top:-6px;
    position: absolute;
    float:left;
}

#nav-main li ul li{
    width: 130px;
    height:31px;
    font-family:"宋体";
    font-size:14px;
    font-weight:normal;
    line-height:32px;
    float: left;
    background:url('../../../imgs/app/find/baby_nav_main_channel_sub2.gif') no-repeat center top;
    text-align:center;
}
#nav-main li ul li:hover{
    width: 130px;
    height:31px;
    line-height:31px;
    float: left;
    background:url('../../../imgs/app/find/baby_nav_main_channel_sub1.gif') no-repeat center top;
    text-align:center;
}
#nav-main li ul li a:link{
    color:#fff;
    text-decoration:none;
    line-height:31px;
    font-weight:normal;
    letter-spacing:0px;
}
#nav-main li ul li a:hover{
    float: left;
    background:url('../../../imgs/app/find/baby_nav_main_channel_sub1.gif') no-repeat center top;
    text-align:center;
}

#nav-main li ul a{color:#fff; display: block; width: 121px;text-align:center; overflow:hidden;}
#nav-main li ul a:link {color:#fff; text-decoration:none;}
#nav-main li ul a:visited {color:#fff;text-decoration:none;}
#nav-main li ul a:hover {color:#fff;text-decoration:none;}

#nav-main li:hover ul {left: auto;}
#nav-main li.sfhover ul {left: auto;}
#content {clear: left;}

.nav-main_channel2{
    width:140px;
    height:38px;
    margin-top:26px;
    margin-right:26px;
    _margin-right:13px;
    float:right;
}

.nav-main_channel2 span{
    margin-top:3px;
    margin-left:5px;
    float:left;
}

.nav-main_channel3{
    width:250px;
    height:38px;
    margin-top:26px;
    margin-left:0px;
    float:right;
}
.nav-main_channe13_a{
    width: 5em;
    display: inline-block;
    display: -moz-inline-stack; /* ff中的inline-block */
    *display: inline;
    zoom:1; /*这两行针对ie6,7的inline-block */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.nav-main_channel_lo{
    width:250px;
    height:22px;
    margin-top:1px;
    background:url('../../../imgs/app/find/baby_nav_main_channel_lo.gif') no-repeat;
}

.nav-main_channel_lo span{
    margin-right:0px;
    float:left;
}


.nav-main_report{
    width:970px;
    height:27px;
    margin-top:0px;
    margin-left:0px;
    padding-top:3px;
    float:left;
    display:inline;
}

.nav-main_report1{
    width:26px;
    height:27px;
    margin-left:30px;
    padding-top:5px;
    float:left;
    display:inline;
}

.nav-main_report2{
    width:540px;
    height:27px;
    margin-left:5px;
    padding-top:8px;
    float:left;
    display:inline;
}

.nav-main_report2 div{
    width:500px;
    height:25px;
    float:left;
    overflow:hidden;
}

.nav-main_report2 div ul li{
    width:500px;
    height:24px;
    line-height:24px;
    font-size:12px;
    float:left;
    overflow:hidden;
}

.nav-main_report2 div ul li a{
    color:#666;
}

.nav-main_report3{
    width:195px;
    height:27px;
    margin-left:15px;
    padding-top:2px;
    float:left;
    display:inline;
    vertical-align:middle;
}

.nav-main_report3 span{
    margin-top:0px;
    margin-left:10px;
    float:left;
    vertical-align:bottom;
}

.nav-main_report4{
    width:142px;
    height:30px;
    margin-left:0px;
    float:left;
    display:inline;
}

.nav-main_report4 span{
    width:68px;
    height:29px;
    margin-top:0px;
    margin-left:2px;
    float:left;
}

.sctn01_1{
    width:970px;
    margin:0 auto;
    font-size:12px;
    line-height:16px;
}

.sctn01_1_1{
    width:324px;
    height:490px;
    margin-top:0px;
    margin-left:0px;
    float:left;
}

.sctn01_1_1_1{
    width:322px;
    height:244px;
    margin-top:0px;
    margin-left:0px;
    float:left;
    overflow:hidden;
}

.sctn01_1_1_2{
    width:320px;
    height:129px;
    margin-top:10px;
    margin-left:0px;
    background-color:#fff;
    border: #e0e0e0 1px solid;
    float:left;
}

.sctn01_1_1_2_1{
    width:320px;
    height:30px;
    color: #3a9607;
    font-size: 14px;
    font-weight:bold;
    line-height: 30px;
    background: url('../../../imgs/app/find/imgb.jpg') no-repeat;
    float:left;
}

.sctn01_1_1_2_2{
    width:310px;
    height:88px;
    padding-top: 10px;
    padding-left:30px;
    color: #3a9607;
    font-weight:bold;
    line-height: 30px;
    float:left;
}

.sctn01_1_1_2_2 dl {
    width: 88px;
    height: 80px;
    padding-left:1px;
    padding-right:8px;
    float: left;
    color: #ff0000
}

.sctn01_1_1_2_2 dl:hover{
    /*background:url(../images/bgks.gif) 5px 0 no-repeat;*/
}

.sctn01_1_1_2_2 dl dt {
    text-align: center; width: 72px; height: 60px
}
.sctn01_1_1_2_2 dl dd {
    text-align: center; line-height: 18px; width: 72px; height: 18px;
}
.sctn01_1_1_2_2 dl dd a {
    color: #565656;
    font-family:"微软雅黑";
}
.sctn01_1_1_2_2 dl dd a:hover {
    color: #ff0000
}

.sctn01_1_1_3{
    margin-top:10px;
    margin-left:0px;
    background-color:#fff;
    border: #e0e0e0 1px solid;
    float:left;
}

.sctn01_1_1_4{
    margin-top:10px;
    margin-left:13px;
    background-color:#fff;
    border: #e0e0e0 1px solid;
    float:left;
}

.sctn01_1_2{
    width:638px;
    height:490px;
    margin-top:0px;
    margin-right:0px;
    float:right;
}

.sctn01_1_2_1{
    width: 619px;
    height: 371px;
    padding-top:12px;
    padding-left:16px;
    background-color:#fff;
    border: #e0e0e0 1px solid;
    float:right;
}

.sctn01_1_2_1_1{
    width: 600px;
    height: 34px;
    float:left;
    border-bottom: #529f05 2px solid;
}

.sctn01_1_2_1_1 ul {
    float: left;
}

.sctn01_1_2_1_1 ul li {
    width: 92px;
    height: 34px;
    float: left;
}

.sctn01_1_2_1_1 ul li a {
    width: 92px;
    height: 34px;
    _height: 30px;
    font-size: 14px;
    line-height: 38px;
    _line-height: 30px;
    _padding-top:4px;
    text-align: center;
    float: left;
}
/*
.sctn01_1_2_1_1 span {
	width: 50px;
	height: 19px;
	text-align: right;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 20px;
	padding-top: 15px;
	display: block;
	float: right;
}

.sctn01_1_2_1_1 span a {
	color: #529f05
}
*/

.sctn01_1_2_1_2{
    width: 595px;
    float:left;
}

.sctn01_1_2_1_2_1{
    width: 275px;
    float:left;
    margin: 0px 10px 0px 0px;
}


.sctn01_1_2_1_2_2{
    width: 275px;
    float:right;
}

.sctn01_1_2_2{
    width:635px;
    height:91px;
    margin-top:10px;
    margin-right:0px;
    background:url('../../../imgs/app/find/baby_sctn01_1_axbg.jpg') no-repeat;
    border: #e0e0e0 1px solid;
    float:right;
}

.sctn01_1_2_2_span1{
    height:35px;
    font-size:12px;
    line-height:35px;
    color:#000;
    float:left;
}

.sctn01_1_2_2_span2{
    height:35px;
    font-size:12px;
    line-height:35px;
    color:#f00;
    float:left;
}

.sctn01_1_2_2_span3{
    height:30px;
    font-size:14px;
    line-height:30px;
    font-weight:bold;
    color:#000;
    float:left;
}

.sctn01_1_2_2_span4{
    height:30px;
    font-size:16px;
    line-height:30px;
    font-weight:bold;
    color:#f00;
    float:left;
}

.sctn01_1_2_2_span5{
    height:20px;
    font-size:12px;
    line-height:20px;
    color:#000;
    float:left;
}

.sctn01_1_2_2_span6{
    height:20px;
    font-size:12px;
    line-height:20px;
    color:#f00;
    float:left;
    font-weight:bold;
}

.sctn01_2{
    width:970px;
    height:210px;
    margin:0 auto;
    font-size:12px;
    line-height:16px;
    background-color:#fff;
}

.sctn01_2_1{
    width:970px;
    height:50px;
    margin:0 auto;
    background:url('../../../imgs/app/find/baby_sctn01_2_top.jpg') repeat-x;
    font-size:18px;
    line-height:44px;
    color:#0c91d6;
    font-weight:bold;
}

.sctn01_2_2{
    width:970px;
    height:160px;
    margin:0 auto;
    overflow:hidden;
}

.sctn01_2_2_1{
    width:28px;
    height:100px;
    padding-top:60px;
    float:left;
}

.sctn01_2_2_2{
    width:910px;
    height:160px;
    position:relative;
    float:left;
}

.sctn01_2_2_2 ul li {
    height: 150px;
    border: #ededed 1px solid;
    padding: 2px;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
}

.sctn01_2_2_3{
    width:28px;
    height:100px;
    text-align:right;
    padding-top:60px;
    float:right;
}

.sctn01_3{
    width:970px;
    margin:0 auto;
    font-size:1px;
    line-height:1px;
}

.sctn01_4{
    width:970px;
    height:1040px;
    margin:0 auto;
    font-size:12px;
    line-height:16px;
    margin-bottom:10px;
}

.sctn01_4_1{
    width:290px;
    height:1040px;
    float:left;
}

.sctn01_4_1_1{
    width:289px;
    height:266px;
    margin-bottom:10px;
    background-color:#fff;
    border: #e0e0e0 1px solid;
    float:left;
}

.sctn01_4_1_1_1{
    width:279px;
    height:34px;
    color: #000;
    font-size: 14px;
    line-height: 34px;
    padding-left: 10px;
    background: url('../../../imgs/app/find/baby_sctn01_4_title.jpg') no-repeat;
    float:left;
}

.sctn01_4_1_1_2{
    width:259px;
    height:212px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    float:left;
}

.sctn01_4_1_3{
    width:289px;
    height:486px;
    float:left;
}

.sctn01_4_1_3_1{
    width:280px;
    height:29px;
    float:left;
}

.sctn01_4_1_3_1 ul li {
    width: 80px;
    padding-left:0px;
    padding-right:0px;
    text-align:center;
    float: right;
}

.sctn01_4_1_3_1 ul li a {
    width: 74px;
    line-height: 29px;
    text-align: center;
    display: block;
    background: url('../../../imgs/app/find/baby_sctn01_4_title2.gif') no-repeat 50% top;
    float: left;
    color: #638a60;
}

.sctn01_4_1_3_2{
    width:289px;
    height:448px;
    padding-top:8px;
    background-color:#fff;
    border: #e0e0e0 1px solid;
    float:left;
    overflow:hidden;
}

.sctn01_4_2{
    width:660px;
    height:1030px;
    background-color:#fff;
    border: #e0e0e0 1px solid;
    padding-top: 11px;
    padding-left: 8px;
    overflow:hidden;
    float:right;
}

.sctn01_4_2_1{
    width: 640px;
    height: 34px;
    margin:0 auto;
    border-bottom: #529f05 2px solid;
}

.sctn01_4_2_1 ul {
    float: left;
}

.sctn01_4_2_1 ul li {
    width: 92px;
    height: 34px;
    float: left;
}

.sctn01_4_2_1 ul li a {
    width: 92px;
    height: 34px;
    _height: 20px;
    font-size: 14px;
    line-height: 38px;
    _line-height: 30px;
    _padding-top:4px;
    text-align: center;
    float: left;
    border:1px solid #000;
}

/*
.sctn01_4_2_1{
	width: 640px;
	height: 34px;
	margin:0 auto;
	border-bottom: #529f05 2px solid;
}

.sctn01_4_2_1 ul {
	float: left
}

.sctn01_4_2_1 ul li {
	float: left
}

.sctn01_4_2_1 ul li a {
	width: 92px;
	height: 34px;
	font-size: 14px;
	line-height: 38px;
	color: #666;
	text-align: center;
	display: block;
}


.sctn01_4_2_1 span {
	width: 50px;
	height: 19px;
	text-align: right;
	padding-top: 15px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 20px;
	display: block;
	float: right;
}

.sctn01_4_2_1 span a {
	color: #529f05
}
*/

.sctn01_4_2_2{
    width: 670px;
    height:990px;
    float:left;
    overflow:hidden;
}

.sctn01_4_2_2 ul{
    width: 670px;
}

.sctn01_4_2_2 ul li{
    width: 129px;

    padding-top:10px;
    padding-left:1px;
    padding-right:1px;
    /*border-bottom:#d9d9d9 1px solid;
    height:230px;*/
    float:left;
}

.sctn01_4_2_2 dl {
    width: 129px;
    /*	height: 200px; */
    margin:auto 0;
}

.sctn01_4_2_2 dl dt {
    line-height:158px;
    text-align:center;
    overflow: hidden;
}

.sctn01_4_2_2 dl dd {
    width: 129px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-align:center;
}
.sctn01_4_2_2 dl dd a {
    color: #333
}

.sctn01_4_2_2_1{
    width: 702px;
    height: 240px;
    margin-top: 0px;
    overflow: hidden;
    float:left;
}

.sctn01_4_2_2_2{
    width: 702px;
    height: 1px;
    font-size:1px;
    line-height:1px;
    background-color:#d9d9d9;
    float:left;
}

.sctn01_4_2_3{
    width: 50px;
    height: 34px;
    border-bottom: #529f05 2px solid;
    float:left;
}

.sctn20_1{
    width:970px;
    height:100%;
    margin:0 auto;
    font-size:12px;
    line-height:16px;
    background:url('../../../imgs/app/find/stcn20_bg.gif') no-repeat;
}

.sctn20_1_1{
    width:187px;
    margin-top:0px;
    margin-left:0px;
    float:left;
}

.sctn20_1_1_1{
    width:187px;
    margin-top:0px;
    margin-left:0px;
    background: #f0f6e9;
    float:left;
}

.sctn20_1_1_1_1{
    width:187px;
    margin:0 auto;
    background:#f0f6e9;
    float:left;
}

.sctn20_1_1_1_1 ul li{
    width:187px;
    height:30px;
    line-height:30px;
    margin:0 auto;
}

.sctn20_1_1_1_1 ul li a{
    color:#616161;
    font-size:12px;
    width:142px;
    height:30px;
    line-height:30px;
    border-bottom:1px solid #ededed;
    padding-left:45px;
    background:url('../../../imgs/app/find/ico1.gif') no-repeat -203px 0px;
    display:block;
}

.sctn20_1_1_1_1 ul li a:hover{
    background:url('../../../imgs/app/find/ico1.gif') no-repeat -203px -45px;
    color:#009b00;
    font-weight:bold;
}

.sctn20_1_1_1_2{
    width:152px;
    height:30px;
    line-height:30px;
    margin:0 auto;
    background:url('../../../imgs/app/find/ico1.gif') no-repeat 0 0;
    padding-left:35px;
    font-size:14px;
    color:#fff;
    font-weight:bold;
    float:left;
}

.sctn20_1_1_1_3{
    width:152px;
    height:30px;
    line-height:30px;
    margin:0 auto;
    background:url('../../../imgs/app/find/ico1.gif') no-repeat 0 -50px;
    padding-left:35px;
    font-size:14px;
    color:#fff;
    font-weight:bold;
    float:left;
}

.sctn20_1_1_1_4{
    width:152px;
    height:30px;
    line-height:30px;
    margin:0 auto;
    background:url('../../../imgs/app/find/ico1.gif') no-repeat 0 -105px;
    padding-left:35px;
    font-size:14px;
    color:#fff;
    font-weight:bold;
    float:left;
}

.sctn20_1_1_1_5{
    width:152px;
    height:30px;
    line-height:30px;
    margin:0 auto;
    background:url('../../../imgs/app/find/ico1.gif') no-repeat 0 -153px;
    padding-left:35px;
    font-size:14px;
    color:#fff;
    font-weight:bold;
    float:left;
}

.sctn20_1_1_1_6{
    width:187px;
    margin:0 auto;
    background:#f0f6e9;
    float:left;
}

.sctn20_1_1_1_6 ul{
    width:187px;
    margin-left:3px;
}

.sctn20_1_1_1_6 li{
    width:92px;
    height:115px;
    margin-top:0px;
    margin-left:0px;
    float:left;
}

.sctn20_1_1_1_6 div{
    width:89px;
    height:109px;
    margin-top:3px;
    margin-left:3px;
}

.sctn20_1_1_1_6 div:hover{
    width:83px;
    height:103px;
    margin-top:0px;
    margin-left:0px;
    border:3px solid #5fb800;
}


.sctn20_1_1_1_7{
    width:183px;
    margin:0 auto;
    background:#f0f6e9;
    color:#999999;
    text-indent:2.5em;
    line-height:24px;
    float:left;
}

.sctn20_1_2{
    width:780px;
    margin-top:10px;
    margin-right:0px;
    float:right;
}

.sctn20_1_2_1{
    width:780px;
    height:240px;
    margin-top:0px;
    margin-right:0px;
    float:right;
}

.sctn20_1_2_1_1{
    width:765px;
    height:230px;
    margin-top:0px;
    margin-right:0px;
    background:#fff url('../../../imgs/app/find/omzl.jpg') no-repeat right 50%;
    float:right;
}

.sctn20_1_2_1_1_1{
    width:190px;
    height:250px;
    margin-top:0px;
    margin-left:0px;
    float:left;
}

.sctn20_1_2_1_1_1_1{
    width:160px;
    height:200px;
    margin-top:35px;
    margin-left:0px;
    background:url('../../../imgs/app/find/touxiangbg2.jpg') no-repeat;
    padding:15px;
    float:left;
}

.sctn20_1_2_1_1_1_1 img{
    width:154px;
    height:149px;
}

.sctn20_1_2_1_1_2{
    width:500px;
    height:250px;
    margin-top:0px;
    margin-right:0px;
    float:left;
}

.sctn20_1_2_1_1_2 div{
    color:#666666;
}

.sctn20_1_2_2{
    width:758px;
    margin:0 auto;
}

#wodeyijian{
    background-color:#ffffff;
}

.sctn20_1_2_2_1{
    width:758px;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:0px;
    color:#666666;
    font-size:18px;
    line-height:36px;
    font-weight:bold;
    text-indent:1em;
    float:right;
}

.sctn20_1_2_2_2{
    width:758px;
    margin:0 auto;
    line-height:30px;
    clear:both;
}

.sctn20_1_2_2_3{
    width:366px;
    height:235px;
    margin:0 auto;
    background:url('../../../imgs/app/find/stcn20_zyzbg.jpg') no-repeat;
    line-height:30px;
    clear:both;
}

.sctn20_a{
    width:758px;
    margin:20px auto 0px;
    clear:both;
}

.sctn20_a_1{
    width:455px;
    height:50px;
    float:left;
}

.sctn20_a_2{
    width:300px;
    height:50px;
    background:url('../../../imgs/app/find/stcn20_inbg.jpg') no-repeat;
    float:left;
}

.sctn20_a_2_1{
    width:90px;
    height:35px;
    margin-top:11px;
    float:left;
}

.sctn20_a_2_2{
    width:130px;
    height:35px;
    margin-top:11px;
    float:left;
}

.sctn20_a_2_3{
    width:50px;
    height:35px;
    margin-top:11px;
    float:left;
}

#zhiyuanzhesousuo{
    /*background-color:#ffffff;*/
    padding-top:10px;
    padding-bottom:10px;
    border:0px solid #f0f6e9;
}



.pe-page2{
    width:750px;
    height:40px;
    color:#666666;
    text-align:center;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    clear:both;
}

.pg, .pgb {
    line-height: 20px;
    _line-height: 18px;
}

.pg {
    width:750px;
    /*	margin-top:20px;
        float: right;*/
}

.pg a, .pg strong, .pgb a {
    height: 19px;
    color: #616161;
    display: inline;
    margin-left: 4px;
    padding: 0 8px;
    text-decoration: none;
    float: left;
}

.pg strong {
    /*background-color: #539d02;
	border:1px solid #fff;*/
    color:#ffffff;
    border: 1px solid #4f9e05;
    background:url('../../../imgs/app/find/stcn21_n7.jpg');
}

.pg a.nxt, .pgb a {
    width:50px;
    padding-top:1px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
    border: 1px solid #cccccc;
    background-color:#fff;
}

.n1 {
    border:1px solid #ccc;
    background:url('../../../imgs/app/find/stcn21_n6.jpg') repeat-x;
}

.n2 {
    width: 30px;
    height: 16px;
    border-bottom: #cccccc 1px solid;
    border-left: #cccccc 1px solid;
    border-top: #cccccc 1px solid;
    border-right: #cccccc 1px solid
}

.n5 {
    width:42px;
    height:20px;
    color:#ffffff;
    margin-top:0px;
    padding-top:1px;
    padding-left:2px;
    background:url('../../../imgs/app/find/stcn21_n5.jpg') no-repeat;
    border-width:0px;
}

.sctn20_1_2_2_2_1{
    width:760px;
    height:30px;
    _height:26px;
    border-bottom:2px solid #54b301;
    margin-top:0px;
    margin-right:0px;
    float:left;
}

.sctn20_1_2_2_2_1 ul li{
    float:left;
}

.sctn20_1_2_2_2_1 ul li a{
    width:90px;
    height:30px;
    _height:26px;
    margin-right:4px;
    color:#529f05;
    font-size:14px;
    line-height:34px;
    _line-height:30px;
    text-align:center;
    background:url('../../../imgs/app/find/button_bg.jpg') no-repeat 50% bottom;
    float:left;
}

.sctn20_1_2_3{
    width:760px;
    margin-top:0px;
    margin-right:0px;
    float:right;
}

#message{
    width:350px;
    margin-left:10px;
    padding:3px;
    height:230px;
    background-color:#fff;
    border:#e0e0e0 0px solid;
    background:url('../../../imgs/app/find/stcn20_fabg.jpg') no-repeat;
    font-size:12px;
    line-height:16px;
}

.footer{
    width:970px;
    height:152px;
    margin:0 auto;
    font-size:1px;
    line-height:1px;
    /*background:url(../images/baby_footer.jpg) no-repeat bottom;*/
    background-color:#fff;
    padding-bottom:10px;
    border-left: #e0e0e0 1px solid;
    border-right: #e0e0e0 1px solid;
    clear:both
}

.footer_line{
    width:970px;
    height:2px;
    background-color:#92c22e;
    overflow:hidden;
    clear: both;
    margin: auto;
}

.footer_line2{
    width:950px;
    height:18px;
    overflow:hidden;
    clear: both;
    margin: auto;
}

.footer_link{
    width:950px;
    height:42px;
    border:1px solid #ccc;
    padding-left:10px;
    margin: auto;
    clear: both;
}

#footer_links{
    width:865px;
    height:35px;
    margin-top:4px;
    float:left;
    overflow:hidden;
}

.footer_link2{
    width:4000px;
    height:41px;
}
.footer_link2 a{ display:block; float:left; margin-right:2px; padding-bottom:2px;}
.footer_link3{
    width:2000px;
    height:41px;
    float:left;
}
/* scrollbox */
.scrollbox{position:relative;width:865px;height:146px;overflow:hidden;}
.scrollbox ul{position:absolute;left:0px;top:0px;}
.scrollbox li{float:left;width:865px;height:31px;overflow:hidden;margin-bottom:5px;}
.scrollbox li a{float:left;display:inline-block;width:88px;height:31px;overflow:hidden;margin-left:8px;}
.scrollbox li a img{display:block;width:88px;height:31px;background:#eee;}
.footer_copyright{
    width:900px;
    height:71px;
    margin:0 auto;
    font-size:12px;
    line-height:25px;
    text-align:center;
    color:#656565;
    padding-top:10px;
}

.footer_copyright a{
    color:#3d7a03;
}


#query{
    width:160px;
    height:21px;
    padding-left:20px;
    background:url('../images/seach.jpg') no-repeat 5px 3px;
    border:1px #ccc solid;
    font-size:12px;
    color:#999;
    line-height:21px
}

.scorll_subn {
    border-style: none;
    border-width: 0px;
    width: 57px;
    height: 25px;
    background: url('../../../imgs/app/find/baby_nav_main_ss.jpg') no-repeat;
}
/*
.scorll_subn:hover {
	width: 57px;
	height: 23px;
	background: url(../images/baby_nav_main_report_ss1.jpg) no-repeat;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
*/
.autocomplete-w1{ width:160px; padding-left:20px; border:0px #ededed solid; color:#666; line-height:21px; background:#fff;}
.autocomplete-w1 strong{color:#000}




.sctn21_1{
    width:970px;
    background:url('../../../imgs/app/find/stcn21_bg.gif') no-repeat 50% top;
    margin:10px auto auto;
    clear:both;
}

.sctn21_1_1{
    width: 700px;
    height: 50px;
    margin: 0px auto;
    padding-top: 25px;
    padding-bottom: 5px;
    padding-right: 0px;
    padding-left: 0px;
}

.sctn21_1_1_1{
    width: 350px;
    height: 50px;
    padding: 0px;
    font-family: "微软雅黑";
    color: #54b200;
    font-size: 24px;
    line-height: 45px;
    font-weight:bolder;
    float:left;
}

.sctn21_1_1_2{
    width: 300px;
    height: 50px;
    padding: 0px;
    float:right;
}

.sctn21_1_1_2_1{
    width: 309px;
    height: 40px;
    margin-bottom:0px;
    float:left;
    background:url('../../../imgs/app/find/stcn21_search.gif') no-repeat;
}

.sctn21_1_1_2_1_1{
    width: 120px;
    height: 20px;
    margin-top:12px;
    float:left;
}

.sctn21_1_1_2_1_2{
    width: 139px;
    height: 20px;
    margin-top:12px;
    float:left;
}

.sctn21_1_1_2_1_3{
    width: 50px;
    height: 20px;
    margin-top:12px;
    float:left;
}

.sctn21_1_1_2_2{
    width: 300px;
    height: 10px;
    float:left;
}

.sctn21_1_1_2_3{
    width: 42px;
    height: 20px;
    border-width:0px;
    background:url('../../../imgs/app/find/stcn21_search2.gif') no-repeat;
}

.sctn21_1_1_2_4{
    width: 130px;
    height: 16px;
}

.sctn21_1_2{
    width: 700px;
    height: 40px;
    border-bottom: #979797 1px solid;
    margin: 0px auto auto;
    padding-top: 20px;
    display: block;
    clear: both;
}

.sctn21_1_2 ul{
    list-style-type: none;
}

.sctn21_1_2 li{
    text-align: center; padding-bottom: 0px; line-height: 40px; margin: 0px; padding-left: 0px; width: 153px; padding-right: 0px; display: block; font-family: "微软雅黑"; float: left; height: 40px; color: #666; font-size: 16px; vertical-align: middle; font-weight: bold; text-decoration: none; padding-top: 0px
}

.sctn21_1_2 ul .sctn21_1_2_1{
    background-image: url('../../../imgs/app/find/stcn21_sel1.gif');
    text-align: left; line-height: 40px; padding-left: 5px; display: block; background-repeat: no-repeat; font-family: "微软雅黑"; color: #54b200; font-size: 16px; vertical-align: middle; font-weight: bold; text-decoration: none
}

.sctn21_1_2 ul .sctn21_1_2_2{
    text-align: center; background-image: url('../../../imgs/app/find/stcn21_sel2.gif');
    line-height: 40px; padding-left: 5px; display: block; background-repeat: no-repeat; font-family: "微软雅黑"; color: #54b200; font-size: 16px; vertical-align: middle; font-weight: bold; text-decoration: none
}

.sctn21_1_3{
    width: 700px;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 20px;
    display: block;
    font-family: "宋体";
    color: #666;
    clear: both;
    font-size: 12px;
    text-decoration: none;
}

.sctn21_1_3_1 {
    width: 85px;
    height: 29px;
    border-width: 0px;
    display: block;
    background: url('../../../imgs/app/find/stcn21_button.gif') no-repeat;
    font-size:16px;
    line-height:30px;
    font-weight:bold;
    color:#fff;
    float: left;
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: 130px;
    _margin-left: 65px;
}

.sctn21_1_3_2 {
    width: 390px;
    height: 78px;
    margin-top: 10px;
    border-top: #999 1px solid;
}

.sctn21_1_3_3 {
    text-align: left; padding-bottom: 0px; line-height: 30px; margin: 0px ; padding-left: 0px; width: 655px; padding-right: 0px; display: block; font-family: "宋体"; height: auto; color: #999; font-size: 14px; vertical-align: middle; overflow: hidden; text-decoration: none; padding-top: 0px;
}

.sctn21_1_3_3 table tr td {
    padding-bottom: 3px; padding-left: 0px; padding-right: 0px; color: #999; font-size: 13px; padding-top: 3px
}

.sctn21_1_4{
    width: 860px;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "宋体";
    color: #666;
    clear: both;
    font-size: 12px;
    text-decoration: none;
    display: block;
    clear: both;
}

.sctn21_1_5{
    width: 760px;
    height: 50px;
    margin: 0px auto;
    padding-top: 25px;
    padding-bottom: 5px;
    padding-right: 0px;
    padding-left: 0px;
}

.sctn21_1_7{
    width: 800px;
    margin: 30px auto 0px;
    background:url('../../../imgs/app/find/cube1.gif');
    filter: alpha(opacity=80);
    opacity: 0.8;
}

.sctn21_1_8{
    width: 800px;
    background:url('../../../imgs/app/find/cube5.gif');
    margin: 0px auto;
    filter: alpha(opacity=80);
    opacity: 0.8;
}

.sctn21_1_9{
    width: 800px;
    margin: 0px auto;
    background:url('../../../imgs/app/find/cube2.gif');
    filter: alpha(opacity=80);
    opacity: 0.8;
}

.sctn21_2{
    width:970px;
    height:200px;
    background:url('../../../imgs/app/find/stcn21_bg2.jpg') no-repeat 50% bottom;
    margin:0px auto;
    clear:both;
}
.zhucechenggong_stcn {
    font-family:'微软雅黑';
    padding-top:70px;
    padding-left:180px;
    font-size:24px;
    color:#0c0;
}

.login_page_stcn {
    font-family: "宋体";
    font-size: 12px;
    color: #999;
    height: 30px;
    width: 250px;
    padding-top:40px;
    padding-left:180px;
    font-weight: bold;
    clear:both
}